
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="jumbotron">
        <h1>SAML Test Service</h1>
        <p>This application is designed to test SAML interaction with Azure AD B2C. It includes the Service Provider and Metadata endpoints.</p>
        <p>This is designed to be used with Azure AD B2C Policies.</p>
        <p>
            <a class="btn btn-primary" asp-page="/SP/Index">Login Custom Settings</a>
        </p>
        <div class="row">
            <div class="col-sm-4">
                @using (Html.BeginForm())
                {
                    <input type="hidden" value="Policy" name="policy" />
                    <input id="loginCustomer" type="submit" value="Login Customer" class="btn btn-primary" />

                }
            </div>
            <div class="col-sm-4">
                @using (Html.BeginForm())
                {
                    <input type="hidden" value="PolicyEmployee" name="policy" />
                    <input id="loginEmployee" type="submit" value="Login Employee" class="btn btn-primary" />

                }
            </div>
            <div class="col-sm-4">
                @using (Html.BeginForm())
                {
                    <input type="hidden" value="PasswordReset" name="policy" />
                    <input id="passwordReset" type="submit" value="Password Reset" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
</div> 